.trips .row {
    display: flex;
    height: 88%;
    align-items: center;
    margin-top: 100px;
}

.trips .col {
    flex-basis: 50%;
}

.trips h1 {
    color: var(--primary-color);
    font-size: 100px;
    text-align: left;
    margin-bottom: 1px;
}

.trips p {
    color: var(--primary-color);
    font-size: 14px;
    line-height: 15px;
}

.trips button {
    width: 180px;
    color: #fff;
    font-size: 12px;
    padding: 12px 0;
    background: var(--primary-color);
    outline: none;
    border: 0;
    border-radius: 20px;
    margin-top: 20px;
}

.trips .card {
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    background-position: center;
    background-size: cover;
}

