@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');:root {
    --primary-color: #3a43c5;
    --secondary-color: #3652ad;
    --accent1-color: #280274;
    --accent2-color: #f5f7f8;
  
    --heading-font: 'Roboto', serif;
    --paragraph-font: 'Roboto', serif;
  
    --nav-background-color: #0e0e0e;
    --nav-link-color: #1328e4;
    --nav-hover-link-color: #AF2655;
    --nav-hover-background-color: #F3F3F3;
  }

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}

header img {
    margin: 1rem;
    width: 64px;
    height: auto;
}

h1 {
    font-size: 2rem;
    font-family: Acme, Arial, sans-serif;
}
nav {
    text-align: right;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation a {
    display: block;
    color: navy;
    padding: 20px;
    text-decoration: none;
}

.navigation a:hover {
    color: tomato;
    font-weight: 700;
    text-decoration: underline;
}

body {
    max-width: 840px;
    margin: 0 auto;
    font-size: 16px;
}

.hero {
    border: 0px solid red;
    position: relative;
}
.hero img{
    width: 100%;
}
.hero article img {
    width: 100px;
    float: right;
}
article {
    position: absolute;
    top: 60px;
    width: 85%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgba(245, 245, 220, .6);
    padding: 1rem;
}

h1 {
    font-size: 2rem;
    font-family: Acme, Arial, sans-serif;
    text-align: center;
    color: var(--primary-color);
}

.hero h1 {
    color: var(--accent2-color);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;   
}

.flexbox-container {
    display: flex;
}

.flexbox-item {
    width: 200px;
    margin: 10px;
    border: 3px solid #333;
    background-color: #dfdfdf;
}

.flexbox-item-1 {
    min-height: 100px;
    flex-grow: 2;
    border-color: black;
}

.flexbox-item-1 p {
    padding: 10px;
}

.flexbox-item-2 {
    max-height: 280px;
    background-color: steelblue;
    border-color: black;
    
}

.flexbox-item-2 h2 {
    text-align: center;
}

.flexbox-item-3 {
    max-height: 300px;
    flex-grow: 2;
    border-color: black;
}

.flexbox-item-3 p {
    padding: 10px;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 120px;
    margin: auto;
}

figure img {
    max-width: 120px;
    max-height: 150px;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.grid-container {
    max-width: 840px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    padding: 8px;
}

.grid-items {
    background-color: #dcebf8;
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
 
footer img {
    width: 20px;
}

footer p {
    text-align: center;
}

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ddd;
    background-size: cover;
}

.contact .content {
    max-width: 840px;
    text-align: center;
}

.contact .content h2 {
    font-size: 36px;
    font-weight: 500;
    color: var(--nav-background-color);
}

.contact .content p {
    font-weight: 500;
    color: var(--nav-background-color);
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.5px;
    
}

.container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.contactInfo .text{
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    align-items: start;
    font-size: 16px;
}
.contactInfo .text h2{
    color: #00bcd4;
    font-weight: 500;
    margin-bottom: 5px;
}

.text p{
    font-weight: 500;
    margin-top: 1px;
}

.contactForm {
    width: 40%;
    padding: 40px;
    background: #fff;
}

.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input, textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    color: #666;
}

.contactForm .inputBox input:focus ~ span, input:valid ~ span, textarea:focus ~ span, textarea:valid ~ span{ 
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"] 
{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

.grid {
    display: grid;
    align-items: center;
    max-width: 840px;
    margin: 0 auto;
}
.grid-1{
    grid-column: 2;
    margin: 1rem;
}
aside {
    width: 26rem;
    position: relative;
    grid-column: 1;
    grid-row: 1;
}

.grid-1 img, aside img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    box-shadow: 0 0 30px gray;
    float: left;
    margin-right: 10px;
}

h2 {
    color: steelblue;
}


/*header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 1);
    background-color: #eee;
    color: #000;
}

.grid {
    display: grid;
    align-items: center;
}
main{
    grid-column: 2;
    margin: 1rem;
}
aside {
    width: 20rem;
    position: relative;
    grid-column: 1;
    grid-row: 1;
}*/